/* font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* animation */
@keyframes portfolio {
  0% {
    width: 240px;
    height: 20px;
    border-radius: 100px;
  }
  25% {
    width: 280px;
    height: 120px;
    border-radius: 75px;
    filter: opacity(25%);
  }
  50% {
    width: 340px;
    height: 240px;
    border-radius: 50px;
    filter: opacity(50%);
  }
  75% {
    width: 380px;
    height: 360px;
    border-radius: 25px;
    filter: opacity(75%);
  }
  100% {
    width: 420px;
    height: 420px;
    border-radius: 0px;
    filter: opacity(100%);
  }
}
@keyframes serviceBonus {
  25% {
    width: 62.5px;
    position: relative;
    bottom: 15px;
  }
  50% {
    width: 60px;
    position: relative;
    bottom: 20px;
  }
  75% {
    width: 57.5px;
    position: relative;
    bottom: 25px;
  }
  100% {
    width: 55px;
    position: relative;
    bottom: 30px;
  }
}

/* style général */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP";
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
p:not(.pAvantH3):not(.headerP):not(.navP) {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.53;
  font-weight: 200;
}
.pAvantH3 {
  margin-bottom: 0;
  color: #585960;
  font-size: 18px;
  letter-spacing: 1px;
}
h3 {
  margin-top: 0;
  color: #695aa6;
  font-family: "Baloo 2";
  font-size: 45px;
  font-weight: 900;
}
h4 {
  color: #695aa6;
  font-size: 25px;
  font-weight: 900;
  font-family: "Baloo 2";
}
/* valeur qui revient souvant */
#sectionService,
#sectionPortfolio,
#sectionPricing,
#sectionTestmonial,
#sectionBlog,
#sectionContact {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sectionService,
#sectionPortfolio {
  margin-bottom: 148px;
}
/* header */
header {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(105, 90, 166, 0.35),
      rgba(255, 255, 255, 1)
    ),
    url(../images/header.jpg);
  background-size: cover;
  background-position: 50% 48%;
  height: 700px;
}
header div {
  margin-top: 78px;
  width: 625px;
}
header h2,
header h1 {
  font-family: "Baloo 2";
  line-height: 1;
}
header h1 {
  color: #46494f;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 1000;
  line-height: 1.17;
}
header h2 {
  color: #585960;
  margin-bottom: 0px;
  font-size: 80px;
}
header p {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 11px;
}
header button {
  padding-inline: 20px;
  padding-block: 14px;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  background-color: #695aa6;
  border: none;
}

/* nav */
nav {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  gap: 200px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  border-bottom: #dee2e6 1px solid;
  z-index: 1;
}
nav div {
  display: flex;
}
nav ul {
  display: flex;
  position: relative;
  top: 3px;
  padding: 0;
  gap: 25px;
}
nav li {
  color: #6c757d;
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 20px;
}
nav a {
  color: #6c757d;
}
nav i {
  font-size: xx-large;
}
.navP a {
  margin-block: 10px;
  color: #695aa6;
  font-family: "Baloo 2";
  font-size: 38px;
  font-weight: 800;
}
.navCroix {
  margin-left: 20px;
  background: none;
  border: none;
}
.navBurger {
  background: none;
  border: none;
  display: none;
}

/* main */
/* section about */
#sectionAbout {
  display: flex;
  margin-inline: 197px;
  gap: 24px;
  margin-bottom: 166px;
}
#sectionAbout img {
  width: 480px;
}
#sectionAbout .pAvantH3 {
  margin-top: 53px;
}
#sectionAbout h3 {
  margin-bottom: 0px;
}
#sectionAbout p:last-of-type {
  margin-top: 8px;
  margin-bottom: 48px;
}
#sectionAbout button {
  padding-inline: 12px;
  padding-block: 10px;
  border-radius: 25px;
  font-size: 20px;
  color: #695aa6;
  background-color: white;
  border: solid #695aa6 1px;
}

/* section service */
#sectionService h3 {
  margin-bottom: 69px;
}
#sectionService > div {
  display: flex;
  gap: 35px;
}
#sectionService > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 303px;
  height: 272px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}
#sectionService > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}
#sectionService > div p {
  display: none;
  text-align: center;
  margin-inline: 15px;
  font-size: 16px;
  font-weight: 350;
}
#sectionService div:hover > p {
  display: block;
  position: relative;
  bottom: 30px;
}
#sectionService > div > div:hover > div {
  animation: serviceBonus 250ms forwards;
}
#sectionService img {
  margin-top: 58px;
  width: 100%;
}
#sectionService h4 {
  margin-top: 25px;
  margin-bottom: 0;
}

/* section portfolio */
#sectionPortfolio h3 {
  margin-bottom: 67px;
}
#sectionPortfolio > div {
  display: flex;
  gap: 35px;
}
#sectionPortfolio > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
}
#sectionPortfolio > div > div:first-of-type {
  background-image: url(../images/folio-1.jpg);
  background-size: cover;
}
#sectionPortfolio > div > div:nth-of-type(2) {
  background-image: url(../images/folio-2.jpg);
  background-size: cover;
}
#sectionPortfolio > div > div:last-of-type {
  background-image: url(../images/folio-3.jpg);
  background-size: cover;
}
#sectionPortfolio div p,
#sectionPortfolio div h4 {
  text-align: center;
  font-weight: 800;
  margin: 0;
}
#sectionPortfolio > div > div > div {
  filter: opacity(0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c0b5fe89;
}
#sectionPortfolio > div > div:hover > div {
  animation: portfolio 333ms forwards;
}

/* section pricing */
#sectionPricing {
  margin-bottom: 84px;
}
#sectionPricing h3 {
  margin-bottom: 67px;
}
#sectionPricing img {
  margin-top: 36px;
  margin-bottom: 33px;
  width: 85px;
}
#sectionPricing > div {
  display: flex;
}
#sectionPricing > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 441px;
  height: 662px;
  border: 1px #dee2e6 solid;
}
#sectionPricing > div > div > h3 {
  margin-bottom: 6px;
  line-height: 1;
}
#sectionPricing ul {
  padding: 0;
}
#sectionPricing ul li {
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}
#sectionPricing ul li:not(:last-child) {
  margin-bottom: 15.5px;
}
#sectionPricing i {
  color: red;
}
#sectionPricing p:not(.pAvantH3) {
  margin-top: 4px;
  font-size: 43px;
  font-weight: 500;
  margin-bottom: 40px;
}
#sectionPricing button {
  height: 45px;
  width: 118px;
  color: white;
  background-color: #695aa6;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

/* section hire */
#sectionHire {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #695aa6;
  height: 164px;
  margin-bottom: 63px;
}
#sectionHire div > p b {
  font-family: "Baloo 2";
  font-size: 24px;
  letter-spacing: 0.5px;
}
#sectionHire p {
  position: relative;
  bottom: 5px;
  right: 5px;
  margin-bottom: 0;
  margin-top: 5px;
  color: white;
}
#sectionHire button {
  position: relative;
  right: 176px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-family: "Baloo 2";
  font-size: 24px;
  font-weight: 750;
  padding-inline: 21px;
  padding-block: 9px;
}

/* section testmonial */
#sectionTestmonial {
  margin-bottom: 184px;
}
#sectionTestmonial h3 {
  margin-bottom: 66px;
}
#sectionTestmonial > div {
  display: flex;
  justify-content: center;
  gap: 35px;
}
#sectionTestmonial > div > div {
  display: flex;
  align-items: center;
}
#sectionTestmonial > div > div:last-of-type {
  position: relative;
  right: 44px;
}
#sectionTestmonial > div > div > div {
  border: #dee2e6 3px solid;
  width: 587px;
  height: 190px;
}
#sectionTestmonial p {
  position: relative;
  top: 5px;
  letter-spacing: 0.5px;
}
#sectionTestmonial h4 {
  position: relative;
  bottom: 5px;
  font-size: 22px;
}
#sectionTestmonial p,
#sectionTestmonial h4 {
  margin-inline: 70px;
}
#sectionTestmonial img {
  width: 98px;
  border-radius: 50px;
  position: relative;
  left: 49px;
}

/* section blog */
#sectionBlog {
  margin-bottom: 182px;
}
#sectionBlog h3 {
  margin-bottom: 66px;
}
#sectionBlog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
#sectionBlog > div > div {
  display: flex;
  border: 2px #dee2e6 solid;
  height: 413px;
  width: 1325px;
}
#sectionBlog h4 {
  margin-top: 30px;
  margin-bottom: 11px;
  font-size: 24px;
}
#sectionBlog p b {
  font-size: 15px;
  color: #585960;
  margin-right: 16px;
}
#sectionBlog > div > div > div {
  margin-inline: 36px;
}
/* sélecteur du by admin et des nombres */
.nombre,
#sectionBlog > div > div > div > div > p {
  margin-block: 0px;
}
#sectionBlog i {
  position: relative;
  top: 8px;
  margin-right: 7px;
}
#sectionBlog div > div > div > div > div:first-of-type i::before {
  color: red;
}
#sectionBlog div > div > div > div > div:last-of-type i::before {
  color: #585960;
}
.nombre {
  position: relative;
  top: 4px;
  color: #585960;
  margin-right: 16px;
  font-family: "Baloo 2";
  font-size: 15px;
}
#sectionBlog > div > div > div > div {
  display: flex;
  align-items: center;
}
#sectionBlog > div > div > div > div > div {
  display: flex;
}
#sectionBlog > div > div:last-of-type {
  height: 404px;
}
#sectionBlog img {
  width: 418px;
}
#sectionBlog button {
  position: relative;
  top: 8px;
  right: 5px;
  color: #695aa6;
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 525;
}
/* sectionContact */
#sectionContact h3 {
  margin-bottom: 113px;
}
#sectionContact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}
#sectionContact textarea {
  border: solid 1px #dee2e6;
  border-radius: 5px;
  width: 845px;
  height: 185px;
  overflow: hidden;
}
#sectionContact textarea::placeholder {
  position: relative;
  font-family: "Noto Sans JP";
  font-size: 19px;
  top: 6px;
  left: 14px;
}

#sectionContact input {
  color: #695aa6;
  background-color: white;
  border: solid 1px #695aa6;
  border-radius: 5px;
  font-size: 20px;
  width: 160px;
  height: 45px;
}

/* footer */
footer {
  color: #6c757d;
  margin-top: 103px;
  margin-inline: 198px;
  border-top: 1px #dee2e6 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  font-weight: 400;
}
footer > div {
  display: flex;
  gap: 5px;
}
footer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: #6c757d 3px solid;
  border-radius: 50px;
}

/* média querries */
/* écran smartphone */
@media (max-width: 576px) {
  header {
    height: auto;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  header p {
    font-size: 20px;
  }
  /* header */
  header div {
    margin-top: 0px;
    width: 90vw;
  }
  /* nav */
  nav div {
    display: none;
  }
  .navBurger {
    display: block;
  }
  /* sectionAbout */
  #sectionAbout {
    margin-inline: 10px;
    flex-wrap: wrap;
  }
  #sectionAbout img {
    width: 90vw;
  }
  /* sectionService */
  #sectionService > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* section portfolio */
  #sectionPortfolio > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* section pricing */
  #sectionPricing > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* section hire */
  #sectionHire button {
    right: 0px;
  }
  /* section testmonial */
  #sectionTestmonial > div {
    flex-wrap: wrap;
  }
  #sectionTestmonial > div > div:last-of-type {
    right: 0px;
  }
  #sectionTestmonial > div > div > div {
    border: #dee2e6 3px solid;
    width: 75vw;
    height: auto;
  }
  /* section blog */
  #sectionBlog > div > div {
    height: auto;
    width: 90vw;
  }
  #sectionBlog > div > div:last-of-type {
    height: auto;
  }
  #sectionBlog img {
    width: 30vw;
    height: 30vw;
  }
  /* section contact */
  #sectionContact textarea {
    width: 90vw;
    height: 185px;
  }
  /* footer */
  footer {
    padding-block: 10px;
    margin-inline: 10px;
    height: auto;
  }
  footer > div {
    flex-wrap: wrap;
  }
}
